{% extends "base.html" %}

{% block meta_title %}
    Home
{% endblock %}

{% block content %}

    <div class="col-sm-12">
        <h2 class="pageTitle">Hi there.</h2>
    </div>
    <div class="col-sm-4">
        <img class="avatar" src="{{url_for('static', filename='img/jason.svg')}}" alt="" width="154" height="550">
    </div>
    <div class="col-sm-5 text-pad">
        <p>
            I am a true User Experience designer&mdash;I do more than just neat looking wireframes&mdash;and a web developer.
            Recently out of Udacity with my Web Developer certification to show that what I have been doing for years, now
            has an education to back it.  Frameworks, libraries, test-driven, object oriented MV* code is what I love to work
            with, but I am no stranger to making pixel perfect designs in Fireworks, Sketch and Illustrator.  I tend to stay
            away from Photoshop for web work, feel free to ask me why.
        </p>
        <p>
            A coffee-addicted, scotch-snob father of three, there is little time in my day for things other than work and kids,
            but when I find those moments, I generally spend my time outside, working with wood, taking pictures or dealing
            with the other full-time job: my house.  Thanks for taking a look, drop me a line at <a class="link" href="mailto:jason@jasonfukura.com">jason@jasonfukura.com</a>
        </p>
    </div>
    <div class="col-sm-3 text-pad">
        <ul class="socialLinks">
            <li class="socialLinks-item">
                <a href="https://twitter.com/jasonfukura" target="_blank" class="socialLinks-target fab fab-twitter" aria-label="twitter link"></a>
            </li>
            <li class="socialLinks-item">
                <a href="https://www.instagram.com/jfukura/" target="_blank" class="socialLinks-target fab fab-instagram" aria-label="instagram link"></a>
            </li>
            <li class="socialLinks-item">
                <a href="https://www.linkedin.com/in/jfukura" target="_blank" class="socialLinks-target fab fab-linkedin" aria-label="LinkedIn link"></a>
            </li>
            <li class="socialLinks-item">
                <a href="https://github.com/jfukura" target="_blank" class="socialLinks-target fab fab-github" aria-label="github link"></a>
            </li>
        </ul>

        <p>
            <b>If you want to see my design work</b> please go check out my <a href="https://www.behance.net/jasonfukura" target="_blank" class="link">behance portfolio</a>.
        </p>
    </div>


{% endblock %}