{% extends "base.html" %}

{% block meta_title %}
    Resume
{% endblock %}

{% block content %}

    <section class="row">
        <div class="col-sm-12">
            <h1 class="pageTitle">
                Cirriculum Vitae
            </h1>
        </div>
        <article class="col-sm-7 col-sm-push-4 text-pad">
            <h2 class="headline">
                A developer with an eye for design.  Or a designer who likes to code.  Either way.
            </h2>
            <p>
                User Experience design from information architecture and requirements gathering through ISO Standards annotated
                wireframes and user flows, to design and full-stack development (LAMP, WIMP, etc).
            </p>
            <p>
                I work heavily in JavaScript and have designed and developed web applications with jQuery, Angular and other
                frameworks.  Web sites and web applications utilize SCSS built on OOCSS standards, semantic, SEO and ADA
                friendly HTML5, object oriented JavaScript and PHP using the MVC design pattern where possible.
            </p>

        </article>
        <div class="col-sm-4 col-sm-pull-7">
            <img class="avatar" src="{{url_for('static', filename='img/jason.svg')}}" alt="">
        </div>
        <div class="clear"></div>
        <article class="col-sm-7 col-sm-push-4 text-pad">
            <h2 class="headline">
                Experience
            </h2>
            <ul class="exp">
                <li class="exp-item">
                    <h3 class="exp-item-title"><span class="year">2016-Now</span> <span class="company">Capital One</span> Design Technologist</h3>
                    <p>
                        As Design Technologist at Capital One Investing, I have created and maintained several javascript
                        based applications. These applications are for internal, associate usage and incorporate tools like
                        handlebars, angular.js and custom javascript and jQuery functions. During my time at Capital One, I
                        have also developed several jQuery plugins, one of which extends the jQuery UI library.
                    </p>
                    <p>
                        Along with this, I have been working to standardize development practices based on the MVC design
                        pattern, Object Oriented Javascript, and the OOCSS patterns for CSS.
                    </p>
                </li>
                <li class="exp-item">
                    <h3 class="exp-item-title"><span class="year">2015-2016</span> <span class="company">Music Prodigy</span> Front-End Dev &amp; UX Lead</h3>
                    <p>
                        Design for a user-centered app experience for mobile apps on iPhone, Android and iPad - as well as
                        desktop OS.  Take the designs generated and create an intuitive, interactive and enjoyable front-end
                        experience. Along with this, I designed relational databases and worked heavily in PHP for the web
                        application. I was also placed in charge of brand management, and maintaining the company website.
                    </p>
                </li>
                <li class="exp-item">
                    <h3 class="exp-item-title"><span class="year">2014-2015</span> <span class="company">Capital One</span> Web Developer (Contract)</h3>
                    <p>
                        My first run with Capital One Investing was as a contractor for the Brand Creative team. I was hired
                        to assist with building landing pages, HTML emails, and designing web campaigns. By the end of my
                        contract, I was also given the opportunity to start prototyping solutions for internal web apps.
                    </p>
                </li>
                <li class="exp-item">
                    <h3 class="exp-item-title"><span class="year">2011-2014</span> <span class="company">Averetek</span> Creative Lead</h3>
                    <p>
                        At averetek, I was the sole creative in a sea of developers. I managed everything from company
                        website design, wireframing and designing assets for our clients, prototyping new tools and helping
                        design the user experience for enterprise level B2B applications.
                    </p>
                </li>
            </ul>
            <h2 class="headline">
                Education
            </h2>
            <ul class="edu">
                <li class="edu-item">
                    <h3 class="edu-item-title"><span class="year">2017</span> <span class="school">Udacity</span>
                        Nanodegree Certification</h3>
                    <p>Full Stack Web Nanodegree</p>
                </li>
                <li class="edu-item">
                    <h3 class="edu-item-title"><span class="year">2016</span> <span class="school">Udacity</span> Nanodegree Certification</h3>
                    <p>Front-End Web Nanodegree</p>
                </li>
                <li class="edu-item">
                    <h3 class="edu-item-title"><span class="year">2005</span> <span class="school">CWU</span> Music Education</h3>
                    <p>BA, K-12 Instrumental &amp; General Music Education</p>
                </li>
            </ul>
        </article>
        <div class="col-sm-4 col-sm-pull-7 text-pad">
            <h2 class="headline">Job Skills</h2>
            <ul class="stat">
                <li class="stat-item">
                    <span class="stat-graph" data-stat="90">
                    </span>
                    <h3 class="stat-label">JavaScript</h3>
                </li>
                <li class="stat-item">
                    <span class="stat-graph" data-stat="95">
                    </span>
                    <h3 class="stat-label">HTML5/CSS3</h3>
                </li>
                <li class="stat-item">
                    <span class="stat-graph" data-stat="90">
                    </span>
                    <h3 class="stat-label">User Experience</h3>
                </li>
                <li class="stat-item">
                    <span class="stat-graph" data-stat="75">
                    </span>
                    <h3 class="stat-label">PHP/MySql</h3>
                </li>
                <li class="stat-item">
                    <span class="stat-graph" data-stat="85">
                    </span>
                    <h3 class="stat-label">OOP</h3>
                </li>
                <li class="stat-item">
                    <span class="stat-graph" data-stat="80">
                    </span>
                    <h3 class="stat-label">MV*</h3>
                </li>
            </ul>
        </div>
    </section>


{% endblock %}