{% extends "base.html" %}

{% block meta_title %}
    Work
{% endblock %}

{% block content %}

    <ul class="gallery">
        <li class="gallery-item work" id="musicprodigy">
            <div class="item-cover">
                <div class="item-cover-inner">
                    <h2 class="item-header">App User Flow</h2>
                    <p class="item-body">Music Prodigy</p>
                </div>
            </div>
            <img src="img/mp-userflow.jpg" alt="" class="gallery-item-img">
        </li>
        <li class="gallery-item work" id="disclaiminator">
            <div class="item-cover">
                <div class="item-cover-inner">
                    <h2 class="item-header">Disclaiminator</h2>
                    <p class="item-body">Capital One</p>
                </div>
            </div>
            <img src="img/disclaiminator-card.jpg" alt="" class="gallery-item-img">
        </li>
        <li class="gallery-item visible-md visible-lg">
            <div class="item-cover alt">
                <div class="item-cover-inner">
                </div>
            </div>
            <img src="img/cc-resourcecenter-card.jpg" alt="" class="gallery-item-img">
        </li>
        <li class="gallery-item behance">
            <div class="item-cover alt">
                <div class="item-cover-inner">
                    <p class="item-body" style="padding-left: 1em; padding-right: 1em;">
                        <b>Looking for more?</b>  My <a href="https://www.behance.net/jasonfukura" target="_blank" class="link">Behance</a>
                        portfolio is updated more often and with more diverse pojects.
                    </p>
                </div>
            </div>
        </li>
        <li class="gallery-item work" id="photography">
            <div class="item-cover">
                <div class="item-cover-inner">
                    <h2 class="item-header">Photography</h2>
                    <p class="item-body">Various</p>
                </div>
            </div>
            <img src="img/ivoryjack-card.jpg" alt="" class="gallery-item-img">
        </li>
        <li class="gallery-item work" id="kellyhoppen">
            <div class="item-cover">
                <div class="item-cover-inner">
                    <h2 class="item-header">Kelly Hoppen Page</h2>
                    <p class="item-body">apaiser</p>
                </div>
            </div>
            <img src="img/hoppen.jpg" alt="" class="gallery-item-img">
        </li>
    </ul>


{% endblock %}